* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

li {
    list-style-type: none;
}

img{
    width: auto;
    height: auto;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
    width: 100vw;
    background-color: #F2762E;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
}

footer > p > a{
    color: #FFF;
    transition: all .5s;
}

footer > p > a:hover{
    color: #592525;
}

.notScroll::-webkit-scrollbar {
    display: none;
}
