.faqs{
    height: 100vh;
    padding: 1rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faqs > h1{
    font-size: 4rem;
    color:#F2762E;
    margin-bottom: 3rem;
}

.faqs > div{
    width: 80%;
}

.faqs > div > details{
    background-color: #BF4F45;
    padding: 1rem;
    color: #FFF;
    margin: .5rem 0;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 1.5rem;
  
}

.faqs > div > details > div{
    margin-top: 1rem;
    font-size: 1rem;
    transition: all .5s;
    color: #0D0D0D;
}

/* .sobre > div{
    width: 80%;
    background-color: #F2762E;
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
}



.sobre > div > img{
    width: 25%;
}

.sobre > div > p{
    text-align: center;
    font-size: 1.2rem;
    
} */